body{
  height: 90vh;

  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

#data-container{
  display: flex;
  flex-flow: column nowrap;

  gap: 15px;
}

#description-gif{
  align-self: center;

  height: 250px;
  width: 250px;
}

#weather-data{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;

  gap:15px;
}

#location-form{
  display: flex;
  flex-flow: column;
  align-items: center;
}

#location-input{
  width: 250px;
}

#submit-btn{
  margin-top: 15px;
}

#message{
  align-self: flex-start;
  margin-top: 15px;
}
